html{background-color: #10111A;}
body{background-color: #151827;}
h1{color: #37A9BE;}
h2{color: #37A9BE;}
h3{color: #37A9BE;}
h4{color: #37A9BE;}
h5{color: #37A9BE;}
h6{color: #37A9BE;}
p{color: #DEE0EA;}
li{color: #DEE0EA;}
pre{background-color: #2B3051;}
.quote{color: #8E93AF;}
.hljs-keyword{color: #F3B549;}
.hljs-string{
  color: #36933C;
  font-style: italic;}
.hljs-self{color: #52337F;}
.hljs-init{color: #CA22A1;}
